:root {
  /* Text */
  /* Color */
  --black: #000;
  --white: #fff;
  --bg-gradient: linear-gradient(90deg, rgba(36, 56, 203, 1) 0%, rgba(182, 0, 209, 1) 100%);
  --primary: #B600D1;
  --secoundary: #2438CB;
  --lightGray: #B6B6B6;
  /* --orange: #f68d29;
      --light: #F6F6F6;
      --lighter: #F6F6F655;
      --red: rgb(207, 32, 47);
      --light-gray: #ECECEC;
      --medium-gray: #D7D7D7;
      --dark: #353f52;
      --light-dark: #5b616e;
      --gold: #F2B218;
      --box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
      --border-shadow: var(--white);
      --fade-white: rgba(255, 255, 255, 0.5);
      --primary-border: 1px solid var(--medium-gray);
      --gray: #ACACAC; */
  /* size */
  /* --nav-height: 72px;
      --main-radius: 2em;
      --secondary-radius: 1em;
      --tertiary-radius: 0.5em; */
  /* shapes */
  /* --primary-shape: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
      --alternate-shape: polygon(0 20%, 100% 0, 100% 100%, 0% 100%); */
  /* effects */
  /* --primary-transition: all 0.3s ease; */
  /* borders */
  /* --dashed-border: 1px dashed var(--gray);
      --solid-border: 1px solid var(--gray);
      --section-border: 3px solid var(--medium-gray); */
}

/* Poppins Font */
@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins/Poppins-Black.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins/Poppins-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins/Poppins-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins/Poppins-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins/Poppins-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins/Poppins-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins/Poppins-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Jost';
  src: url('../src/assets/fonts/Jost/Jost-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Jost';
  src: url('../src/assets/fonts/Jost/Jost-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Jost';
  src: url('../src/assets/fonts/Jost/Jost-BoldItalic.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Jost';
  src: url('../src/assets/fonts/Jost/Jost-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Jost';
  src: url('../src/assets/fonts/Jost/Jost-ExtraLight.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Jost';
  src: url('../src/assets/fonts/Jost/Jost-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Jost';
  src: url('../src/assets/fonts/Jost/Jost-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Jost';
  src: url('../src/assets/fonts/Jost/Jost-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-BlackItalic.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-Bold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-BoldItalic.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-ExtraBoldItalic.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-ExtraLight.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-ExtraLightItalic.ttf');
  font-weight: 300;
}


@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-LightItalic.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-MediumItalic.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-SemiBoldItalic.ttf');
  font-weight: 600;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  /* font-family: 'Poppins', sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  padding: 0 !important;
  margin: 0 !important;
}

.profile-drawer {
  padding: 25px;
}

.profile-drawer .nft-image {
  border-radius: 18px;
  width: 100%;
}

.profile-drawer .first-line {
  display: flex;
  justify-content: left;
  align-items: center;
}

.profile-drawer .first-line h2 {
  font-family: 'Jost';
  font-size: 40px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #121212;
  text-transform: capitalize;
  margin-right: 10px;
}

.profile-drawer img {}

.profile-drawer .second-line {}

.profile-drawer .second-line p {
  font-family: 'Jost';
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #929292;
}

.profile-drawer .second-line p span {
  color: var(--primary);
  text-decoration: underline;
}

.profile-drawer .three-line {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 10px;
}

.profile-drawer .three-line svg {
  font-size: 26px;
  margin-top: -8px;
  margin-right: 5px;
  cursor: pointer;
}

.profile-drawer .three-line span {
  font-family: 'Jost';
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #4A4949;
}

.profile-drawer .four-line {
  margin-top: 10px;
}

.profile-drawer .four-line p {
  font-family: 'Jost';
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #929292;
}

.profile-drawer .pro-dtails {
  padding-left: 20px;
}

.profile-drawer .four-line {}

.profile-drawer .four-line h3 {
  font-family: 'Jost';
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #6F6F6F;
  padding-bottom: 5px;
}

.profile-drawer .four-line .logo-name {
  cursor: pointer;
}

.profile-drawer .four-line .logo-name img {
  border-radius: 100%;
  margin-right: 5px;
  width: 53px;
  height: 53px;
  object-fit: cover;
}

.profile-drawer .four-line .logo-name span {
  font-family: 'Jost';
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #121212;
}

.profile-drawer .five-line {
  margin-top: 25px;

}

.profile-drawer .five-line button {
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  border: 2px solid #929292;
  color: #929292;
  border-radius: 8px;
  padding: 5px 10px;
  margin-right: 15px;
}

.profile-drawer .five-line button.active {
  border: 2px solid var(--primary);
  color: var(--primary);

}

.profile-drawer .five-line {}

.profile-drawer .six-line {}

.profile-drawer .six-line h3 {
  font-family: 'Jost';
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #929292;
}

.profile-drawer .six-line .left {}



.profile-drawer .six-line .right {
  text-align: right;
}

.profile-drawer .six-line .right p {
  font-family: 'Jost';
  font-size: 30px;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: right;
  color: #121212;
}

.profile-drawer .six-line .right p span {
  font-family: 'Jost';
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #6F6F6F;
  margin-left: 10px;
}

.profile-drawer .seven-line {
  display: flex;
  align-items: center;
}

.profile-drawer .seven-line {
  margin-top: 15px;
}

.seven-line-nft-card {
  display: flex;
  align-items: center;
}

.seven-line-nft-card {
  position: absolute;
  z-index: 10;
  right: 15px;
  top: 15px;
}

.seven-line-nft-card span:nth-child(2) {
  font-family: 'Jost';
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #929292;
}

.seven-line-nft-card span:nth-child(1) {
  width: 27.51px;
  height: 27.51px;
  border: 3px solid #B600D1;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.seven-line-nft-card span:nth-child(1) svg {
  display: flex;
  width: 100%;
  height: 100%;
  /* color: var(--primary); */
}

.profile-drawer .seven-line span:nth-child(2) {
  font-family: 'Jost';
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #929292;
}


.profile-drawer .seven-line span:nth-child(1) {
  width: 27.51px;
  height: 27.51px;
  border: 3px solid #B600D1;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.profile-drawer .seven-line span:nth-child(1) svg {
  display: flex;
  width: 100%;
  height: 100%;
  /* color: var(--primary); */
}


.red {
  color: #B600D1;
}

.transparent {
  color: transparent;
  display: none !important;
}

.black {
  color: #fff
}

.profile-drawer .eight-line {
  margin-top: 20px;
}

.profile-drawer .eight-line button {
  background: var(--bg-gradient);
  color: var(--white);
  border: none;
  border-radius: 12px;
  font-family: 'Poppins';
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  padding: 7px 50px;
}

.hide-on-desktop-screen {
  display: none;
}

.hide-on-mobile-screen {
  display: block;
}

.profile-drawer-cancle {
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  right: 7px;
  top: -19px;
  z-index: 9999;
  cursor: pointer;
}

.rbd-xg38tw4z7qb-hw {
  display: none;
}

.profile-drawer-wrapper {
  width: 90vw !important;
  left: 5vw !important;
}

.nft-drawer-wrapper {
  width: 100vw !important;
  left: 0vw !important;
}

.profile-drawer-wrapper__content {
  max-height: calc(85vh - 25px) !important;
}






/* .share-links-social .share-icons{
  margin-left: 7px;
}

.share-links-social .share-icons .share-icon{
  font-size: 25px;
} */


.registor-chack {
  display: flex;
  align-items: center;
}

.registor-chack {
  /* position: absolute;
  z-index: 10;
  right: 15px;
  top: 15px; */
}

.registor-chack span:nth-child(2) {
  font-family: 'Jost';
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #929292;
}

.registor-chack span:nth-child(1) {
  width: 23.51px;
  height: 23.51px;
  border: 2px solid #B600D1;
  border-radius: 6px;
  cursor: pointer;
}

.registor-chack span:nth-child(1) svg {
  display: flex;
  width: 100%;
  height: 100%;
  /* color: var(--primary); */
}

.registor {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.registor .registor-wrap {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.registor .registor-wrap .left {
  width: 60%;
}

.registor .registor-wrap .left img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.registor .registor-wrap .right {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 68px;
}

.registor .registor-wrap .right .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.registor .registor-wrap .right .content .logo {}

.registor .registor-wrap .right .content .title {
  color: #121212;
  text-align: center;
  font-family: 'Jost';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 5px;
}

.registor .registor-wrap .right .content .desc {
  color: #909090;
  text-align: center;
  font-family: 'Jost';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 13px !important;
}

.registor .registor-wrap .right .content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.registor .registor-wrap .right .content form input {
  width: 100%;
  padding: 10px 28px;
  border-radius: 20px;
  border: 2px solid transparent;
  background: #F2F2F2;
  margin-top: 15px;
}

.registor .registor-wrap .right .content form input:focus-visible {
  outline: 2px solid #B600D1 !important;
}

.registor .registor-wrap .right .content form .term-condition {
  display: flex;
  width: 100%;
  gap: 13px;
  align-items: center;
  margin-top: 18px;
}

.registor .registor-wrap .right .content form .term-condition .one {}

.registor .registor-wrap .right .content form .term-condition .two {}

.registor .registor-wrap .right .content form .term-condition .two p {
  color: #121212;
  font-family: 'Jost';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.registor .registor-wrap .right .content form .term-condition .two p a {
  color: #B600D1;
  font-family: 'Jost';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.registor .registor-wrap .right .content form .signup {
  border-radius: 15px;
  background: linear-gradient(90deg, #2636D9 0%, #B600D1 100.01%);
  width: 100%;
  color: #FFF;
  font-family: 'Jost';
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  outline: none;
  padding: 10px 0px;
  margin-top: 47px;
  margin-bottom: 14px;
}

.registor .registor-wrap .right .content form .signin {
  border-radius: 15px;
  width: 100%;
  color: #FFF;
  font-family: 'Jost';
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 2px solid #B600D1;
  outline: none;
  padding: 10px 0px;
  margin-top: 15px;
}

.registor .registor-wrap .right .content form .signin a {
  color: #B600D1;
}

.registor .registor-wrap .right .content form .signup.disable {
  pointer-events: none;
  background: gray;
}

.registor .registor-wrap .right .content form .sign-up {}

.registor .registor-wrap .right .content form .sign-up p {
  color: #121212;
  text-align: center;
  font-family: 'Jost';
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.registor .registor-wrap .right .content form .sign-up p a {
  color: #B600D1;
  font-family: 'Jost';
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.registor .registor-wrap .right .content .forget-pass {
  color: #B600D1;
  text-align: center;
  font-family: 'Jost';
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 23px;
  margin-bottom: -24px;
}

.registor .registor-wrap .right .content .or {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 10px 0px;
}

.registor .registor-wrap .right .content .or .middle-line {
  width: 100%;
  height: 2px;
  background-color: #909090;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.registor .registor-wrap .right .content .or span {
  color: #909090;
  text-align: center;
  font-family: 'Jost';
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #fff;
  position: relative;
  padding-inline: 15px;
}

.varification-modal-wrap {
  background: rgba(0, 0, 0, 0.6);
}

.varification-modal-wrap .modal-content {
  width: 470px;
  margin-inline: auto;
}

.varification-modal-wrap .modal-body {
  width: 470px;
  padding: 40px 40px;
}

.varification-modal-wrap .modal-body .title {
  color: #3E3E3E;
  text-align: center;
  font-family: 'Jost';
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.varification-modal-wrap .modal-body .desc {
  color: #8C8C8C;
  text-align: center;
  font-family: 'Jost';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height:
    normal;
}

.varification-modal-wrap .modal-body .desc-forget {
  color: #8C8C8C;
  text-align: center;
  font-family: 'Jost';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 20px;
  margin-bottom: 20px !important;
}

.varification-modal-wrap .modal-body .desc-change {
  color: #8C8C8C;
  text-align: center;
  font-family: 'Jost';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 20px;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}

.varification-modal-wrap .modal-body .resent-code-login {
  color: #B600D1;
  text-align: left;
  font-family: 'Jost';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  line-height: 20px;
  margin-top: 10px !important;
  cursor: pointer;
}

.varification-modal-wrap .modal-body .email {
  color: #3E3E3E;
  text-align: center;
  font-family: 'Jost';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 14px !important;
  margin-bottom: 34px !important;
}

.varification-modal-wrap .modal-body .email-forget {
  color: #3E3E3E;
  text-align: left;
  font-family: 'Jost';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 14px !important;
  margin-bottom: 20px !important;
  width: 100%;
  padding: 10px 28px;
  border-radius: 20px;
  border: 2px solid transparent;
  background: #F2F2F2;
  margin-top: 15px;
}

.varification-modal-wrap .modal-body .password-forget {
  color: #3E3E3E;
  text-align: left;
  font-family: 'Jost';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 14px !important;
  margin-bottom: 0px !important;
  width: 100%;
  padding: 10px 28px;
  border-radius: 20px;
  border: 2px solid transparent;
  background: #F2F2F2;
  margin-top: 15px;
}

.varification-modal-wrap .modal-body .resent-code {
  color: #21132F;
  text-align: center;
  font-family: 'Jost';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 19px !important;
  margin-bottom: 40px !important;
}

.varification-modal-wrap .modal-body .resent-code a {
  color: #B600D1;
}

.varification-modal-wrap .modal-body .varify-code {
  border-radius: 10px;
  background: linear-gradient(90deg, #2636D9 0%, #B600D1 100.01%);
  color: #FFF;
  text-align: center;
  font-family: 'Jost';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  outline: none;
  width: 100%;
  padding: 11px 0px;
}

.varification-modal-wrap .modal-body .back {
  border-radius: 10px;
  background: transparent;
  color: #000;
  text-align: center;
  font-family: 'Jost';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  outline: none;
  width: 100%;
  padding: 20px 0px 0px 0px;
}

.varification-modal-wrap .modal-body .email {
  width: 100%;
  padding: 10px 28px;
  border-radius: 20px;
  border: 2px solid transparent;
  background: #F2F2F2;
  margin-top: 15px;
}

.varification-modal-wrap .modal-body .back:hover {
  text-decoration: underline;
}

.varification-modal-wrap .vi__wrapper {
  width: 100%;
}

.varification-modal-wrap .vi__wrapper .vi__container {}

.varification-modal-wrap .vi__wrapper .vi__container .vi__character {
  border-radius: 10px;
  border: 2px solid #D4D4D4;
  background: #F4F4F4;
  width: 62px;
  height: 58px;
  flex-shrink: 0;
}

.registor .registor-wrap .right .content form .pass {
  position: relative;
  width: 100%;
}

.registor .registor-wrap .right .content form .pass input {
  width: 100%;
}

.registor .registor-wrap .right .content form .pass span {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 9;
  cursor: pointer;
}


@media only screen and (max-width: 992px) {
  .registor .registor-wrap .left {
    width: 50%;
  }

  .registor .registor-wrap .right {
    width: 50%;
  }

  .profile-drawer .first-line h2 {
    font-size: 28px;
    line-height: 48px;
  }

  .profile-drawer .second-line p {
    font-size: 18px;
    line-height: 22px;
  }

  .profile-drawer .three-line span {
    font-size: 16px;
    line-height: 22px;
  }

  .profile-drawer .three-line svg {
    font-size: 20px;
    margin-top: -4px;
    margin-right: 5px;
  }

  .profile-drawer .four-line p {
    font-family: 'Jost';
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    padding-right: 0px !important;
  }

  .profile-drawer .four-line h3 {
    font-size: 16px;
  }

  .profile-drawer .four-line .logo-name span {
    font-family: 'Jost';
    font-size: 16px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #121212;
  }

  .profile-drawer {
    padding: 25px 10px;
  }

  .profile-drawer .five-line button {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    border: 2px solid #929292;
    color: #929292;
    border-radius: 8px;
    padding: 2px 15px;
    margin-right: 12px;
  }

  .profile-drawer .six-line h3 {
    font-size: 18px;
  }



  .profile-drawer .six-line .right p {
    font-family: 'Jost';
    font-size: 18px;
    padding-top: 10px !important;
  }
}

@media only screen and (max-width: 768px) {
  .varification-modal-wrap .modal-body {
    width: auto;
    padding: 20px;
  }

  .registor {
    overflow: auto;
    height: auto;
    padding: 0px 0px;
  }


  .registor .registor-wrap .right {
    padding-inline: 5%;
  }

  .registor .registor-wrap .right .content .title {
    color: #121212;
    text-align: center;
    font-family: 'Jost';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0px;
  }

  .password-validation-unclear-bioo {
    font-size: 10px;
    color: gray;
    font-weight: 600;
    margin-top: 5px !important;
    padding-inline: 5px !important;
  }

  .registor .registor-wrap .right .content form .term-condition .two p {
    color: #121212;
    font-family: 'Jost';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .registor .registor-wrap .right .content form .term-condition .two p a {
    color: #B600D1;
    font-family: 'Jost';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .registor .registor-wrap .right .content form .term-condition {
    display: flex;
    width: 100%;
    gap: 5px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: -30px;
  }

  .registor .registor-wrap .right .content form .sign-up p a {
    color: #B600D1;
    font-family: 'Jost';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .registor .registor-wrap .right .content form .sign-up {
    margin-top: 10px;
  }

  .registor-chack span:nth-child(1) {
    width: 20.51px;
    height: 20.51px;
    border: 2px solid #B600D1;
    border-radius: 6px;
    cursor: pointer;
  }

  .registor .registor-wrap .right .content form .sign-up p {
    color: #121212;
    text-align: center;
    font-family: 'Jost';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }


  .registor .registor-wrap .right .content .desc {
    color: #909090;
    text-align: center;
    font-family: 'Jost';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 0px !important;
  }

  .registor .registor-wrap .right .content form input {
    width: 100%;
    padding: 4px 12px;
    border-radius: 6px;
    border: 2px solid transparent;
    background: #F2F2F2;
    margin-top: 15px;
  }

  .registor .registor-wrap .right .content .forget-pass {
    color: #B600D1;
    text-align: center;
    font-family: 'Jost';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: -36px;
  }

  .registor .registor-wrap .right .content form .signup {
    border-radius: 7px;
    background: linear-gradient(90deg, #2636D9 0%, #B600D1 100.01%);
    width: 100%;
    color: #FFF;
    font-family: 'Jost';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    outline: none;
    padding: 10px 0px;
    margin-top: 45px;
    margin-bottom: 0px;
  }

  .registor .registor-wrap .right .content .or span {
    color: #909090;
    text-align: center;
    font-family: 'Jost';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #fff;
    position: relative;
    padding-inline: 15px;
  }

  .registor .registor-wrap .right .content form .signin {
    border-radius: 6px;
    width: 100%;
    color: #FFF;
    font-family: 'Jost';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: 2px solid #B600D1;
    outline: none;
    padding: 10px 0px;
    margin-top: 0px;
  }

  .registor .registor-wrap .left {
    display: none;
  }

  .registor .registor-wrap .right {
    width: 100%;
  }

  .profile-drawer {
    padding: 0px 0px 25px 10px;
  }

  .profile-drawer .first-line {
    padding-top: 15px;
  }

  .profile-drawer .pro-dtails {
    padding-left: 0px;
  }

  .profile-drawer .four-line .logo-name img {
    width: 40px;
    height: 40px;
  }

  .profile-drawer .five-line {
    margin-top: 20px;
  }

  .profile-drawer .five-line .share-links-social {
    margin-bottom: 20px;
    justify-content: start;
  }



}



@media only screen and (max-width: 568px) {
  .hide-on-desktop-screen {
    display: block;
  }

  .hide-on-mobile-screen {
    display: none;
  }

  .profile-drawer-cancle {
    font-size: 32px;
    font-weight: 600;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9999;
    background: #fff;
    height: 30px;
    width: 30px;
    line-height: 19px;
    text-align: center;
    border-radius: 15px;
  }
}

@media only screen and (max-width: 500px) {

  .profile-drawer .seven-line span:nth-child(2) {
    font-family: 'Jost';
    font-size: 14px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #929292;
  }

  .profile-drawer .eight-line button {
    background: var(--bg-gradient);
    color: var(--white);
    border: none;
    border-radius: 12px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    padding: 7px 20px;
  }

  .profile-drawer .seven-line span:nth-child(1) {
    width: 23.51px;
    height: 23.51px;
    border: 3px solid #B600D1;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
  }

  .share-links-social span,
  .profile-drawer .five-line button {
    margin-right: 20px !important
  }



  .profile-drawer .six-line h3 {
    font-size: 14px;
  }

  .profile-drawer .six-line .left p {
    font-family: 'Jost';
    font-size: 16px;
    padding-top: 0px !important;
    line-height: 22px !important;
  }

  .profile-drawer .six-line .left p span {
    font-family: 'Jost';
    font-size: 12px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #6F6F6F;
    margin-left: 0px;
  }

  .profile-drawer .three-line span {
    font-size: 12px;
    line-height: 22px;
  }

  .profile-drawer img {
    width: 12px;
  }

  .profile-drawer .second-line p {
    font-size: 14px;
    line-height: 22px;
  }

  .profile-drawer .first-line h2 {
    font-size: 16px;
    line-height: 22px;
  }
  .varification-modal-wrap .modal-body .email {
    color: #3E3E3E;
    text-align: center;
    font-family: 'Jost';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 6px !important;
    margin-bottom: 16px !important;
    border-radius: 6px;
  }

  .varification-modal-wrap .modal-content {
    width: 100%;
    margin-inline: auto;
}

.varification-modal-wrap .modal-body .title {
  color: #3E3E3E;
  text-align: center;
  font-family: 'Jost';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.varification-modal-wrap .modal-body .desc {
  color: #8C8C8C;
  text-align: center;
  font-family: 'Jost';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.varification-modal-wrap .vi__wrapper .vi__container .vi__character {
  border-radius: 10px;
  border: 2px solid #D4D4D4;
  background: #F4F4F4;
  width: 42px;
  height: 45px;
  flex-shrink: 0;
}

.varification-modal-wrap .modal-body .resent-code {
  color: #21132F;
  text-align: center;
  font-family: 'Jost';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 8px !important;
  margin-bottom: 16px !important;
}

.varification-modal-wrap .modal-body .varify-code {
  border-radius: 6px;
  background: linear-gradient(90deg, #2636D9 0%, #B600D1 100.01%);
  color: #FFF;
  text-align: center;
  font-family: 'Jost';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  outline: none;
  width: 100%;
  padding: 11px 0px;
}

:where(.vi__character) {
  height: 100%;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  font-size: 22px;
  line-height: 40px;
  color: black;
  background-color: white;
  border: 1px solid black;
  cursor: default;
  user-select: none;
}
}